body {
    background-color: #c70505;
    color: white;
    font-family: "New Amsterdam", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ff8800;
    color: white;
    font-family: "New Amsterdam", system-ui;
}

.passo{
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}